* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('./Images&Video/main3.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Georgia', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-align: center;
}


.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  background: transparent;
  color: white;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.overlay {
    margin-top: 25%;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.enter-btn {
  padding: 12px 24px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 30px;
  transition: 0.3s ease;
}


.enter-btn:hover {
  background: rgb(161, 157, 157);
  color: black;
}

@media (max-width: 700px) {
    .overlay {
    margin-top: 50%;
}

.overlay h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 1rem;
  margin-bottom: 25px;
}

.enter-btn {
    font-size: 0.8rem;
}

}

